
body{
    background:url('../images/backgroundimages/home.jpg');
    background-repeat: repeat-y;
    background-size: 100%;
    
}

@media only screen and (min-width: 601px) {
    #welcoeAndImage {
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    #welcontainer {
        position: relative;
        display: flex;
        flex-direction: row;
        width: 60%;
    }
    #welcome {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #wel {
        width: 100%;
        height: 10.5vw;
        font-size: 2.5vw;
        font-style: italic;
        position: relative;
        top: 1vw;
        left: 5vw;
    }
    #weltitle {
        font-size: 1.4vw;
        position: relative;
        top: -2vw;
        left: 13vw;
    }
    #welcomeMessage {
        font-size: 1.8vw;
        position: relative;
        top: -1vw;
        left: 6vw;
        width: 91%;
    }
    #image {
        width: 23vw;
        height: 20vw;
        position: relative;
        top: 10vw;
        left: 9vw;
        background: url("../images/coffee\ leaf\ deseasies\ detection.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    #ckln {
        color: white;
        position: relative;
        top: 0.5vw;
        font-size: 1.8vw;
    }
    .cdi {
        background: #338157d1;
        width: 21vw;
        height: 3vw;
        text-align: center;
    }
    .cdi:hover{
        background: #338157d1;
        width: 21vw;
        height: 3vw;
        text-align: center;
        position: relative;
        top: 0.2vw;
        left: 0.2vw;
        font-size: 1.85vw;
    }
    
    #video {
        width: 100%;
        height: 100%;
    }
    
    #Gallary {
        width: 100%;
        height: 50vw;
    }
    
    div#gallery {
        margin-top: 4vw;
        display: flex;
        margin-bottom: 2vw;
        flex-direction: row;
    }
    .img_class {
        width: 16vw;
        height: 12vw;
        margin: 0.3vw;
        margin-top: 0.8vw;
    }
    
    div#all_images_container {
        width: 39vw;
        height: 38.2vw;
        overflow: scroll;
        display: flex;
        flex-flow: wrap;
        column-count: 2;
    }
    
    
    #galleryfont {
        font-size: 1.4vw;
    }
    
    .pic_class {
        display: flex;
        flex-direction: row;
    }
    
    img#image_show_container {
        border: 0.43vw solid black;
        border-style: double;
        border-radius: 2.5vw;
        width: 77%;
        height: 70%;
        padding: 0.1vw;
        margin-top: 3.6vw;
        transition: 1.3s;
    }
    
    img#image_show_container:hover {
        width: 84%;
        height: 76%;
        margin-top: 1.4vw;
    }
    
    
    div#imageshow_div {
        width: 61%;
        height: 54vw;
        margin-left: 0.3vw;
        display: flex;
        justify-content: center;
        transition: opacity .7s;    
    }
    
    
    
    #about,#Checkdecission,#blg,#contactUS,#Community{
        opacity: .5;
    }
}



@media only screen and (max-width: 600px) {
    div#imageshow_div {
        width: 61%;
        height: 54vw;
        margin-left: 0.3vw;
        display: flex;
        justify-content: center;
        transition: opacity .7s;    
    }

    img#image_show_container:hover {
        width: 84%;
        height: 76%;
        margin-top: 1.4vw;
    }
    img#image_show_container {
        border: 0.43vw solid black;
        border-style: double;
        border-radius: 2.5vw;
        width: 77%;
        height: 70%;
        padding: 0.1vw;
        margin-top: 3.6vw;
        transition: 1.3s;
    }
    #welcoeAndImage {
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    #welcontainer {
        position: relative;
        display: flex;
        flex-direction: row;
        width: 60%;
    }
    #welcome {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #wel {
        width: 100%;
        height: 17.5vw;
        font-size: 4.5vw;
        font-style: italic;
        position: relative;
        top: 1vw;
        left: 5vw;
    }
    #weltitle {
        font-size: 2vw;
        position: relative;
        top: -2vw;
        left: 13vw;
    }
    #welcomeMessage {
        font-size: 3.3vw;
        position: relative;
        top: -1vw;
        left: 6vw;
        width: 126%;
    }
    #image {
        width: 23vw;
        height: 20vw;
        position: relative;
        top: 10vw;
        left: 9vw;
        background: url("../images/coffee\ leaf\ deseasies\ detection.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    #ckln {
        color: white;
        position: relative;
        top: 0.5vw;
        font-size: 3vw;
        font-weight: 800;
    }
    .cdi {
        background: #338157d1;
        width: 28vw;
        height: 5vw;
        text-align: center;
    }
    .cdi:hover{
        background: #338157d1;
        width: 21vw;
        height: 3vw;
        text-align: center;
        position: relative;
        top: 0.2vw;
        left: 0.2vw;
        font-size: 1.85vw;
    }

    #video {
        width: 100%;
        height: 100%;
    }

    #Gallary {  
        width: 100%;
        height: 50vw;
    }

    div#gallery {   
        margin-top: 4vw;
        display: flex;
        margin-bottom: 2vw;
        flex-direction: row;
    }
    .img_class {    
        width: 16vw;
        height: 12vw;
        margin: 0.3vw;
        margin-top: 0.8vw;
    }

    div#all_images_container {  
        width: 39vw;
        height: 38.2vw;
        overflow: scroll;
        display: flex;
        flex-flow: wrap;
        column-count: 2;
    }

    #galleryfont {  
    font-size: 1.4vw;
    }

    .pic_class {
        display: flex;
        flex-direction: row;
    }

    img#image_show_container {
        border: 0.43vw solid black;
        border-style: double;
        border-radius: 2.5vw;
        width: 77%;
        height: 70%;
        padding: 0.1vw;
        margin-top: 3.6vw;
        transition: 1.3s;
    }
    #about,#Checkdecission,#blg,#contactUS,#Community{
        opacity: .5;
        font-size:3.2vw ;
        display: inline-block;
    }
    #home{
        color: white;
        opacity: 1;
    }
    div#Videoslowmo {
        margin-top: 3vw;
    }
}