doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Forgot-password
        link(rel="shortcut icon" href="../images/coffee\ leaf\ deseasies\ detection.png")
        style 
            include ../css/resetpass.css
    body 
        #container_main
            #mialsection
                p#mail Enter Your Mail <strong id='wait'></strong>
                input(type="email" id='user_mail_id')
                button(id='submit_usermail_id' onclick="submit_user_mail()" ) Confirm


            #Confirmation(style="display:none")
                p#cnfmtion Enter confirmation code
                input(type="text" id='confirmation_input_id')
                button(id='submit_conf_id' onclick="submit_confi_code()" ) Confirm

            #password(style="display:none")
                form( method="post" name="create_body" onSubmit="return submit_pass(event)" oninput="Password2.setCustomValidity(Password.value != Password2.value ? 'Passwords do not match.' : '')") 
                    p#firspass New Password
                    input(type="password" id='newpassword' name="Password")
                    p#firspass Reinter Password
                    input(type="password" id='reinterpassword' name="Password2")
                    button(id='submit_pass_id') Confirm


        script 
            include ../js/resetrequest.js